/* Generale */
body {
	padding-top: 3rem !important;
	padding-bottom: 60px;
	/* Altezza del footer */
	margin: 0;
	background: #e6e2dc;
	font-family: 'Playfair Display', serif;
}

.sfondoBody{
	background: #e6e2dc; 
	background-image: url('/images/sfondo.jpeg'); 
	background-size: cover; 
	background-repeat: no-repeat; 
	background-attachment: fixed;
}

.loginBody,
.registerBody{
	background-image: url('/images/sfondo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

html,
body {
	height: 100%;
}

a {
	text-decoration: underline;
	color: #4a5e54;
	/* Verde scuro elegante */
}

.jumbotron {
	text-align: center;
	background-image: url('/images/sfondo.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.containerCuoco, 
.containerAdmin{
	max-width: 700px; 
	margin: 0 auto; 
	padding: 20px;
}

.accordion{
	border: 1px solid #ddd; 
	border-radius: 8px; 
	background-color: #f8f9fa;
}

.accordion-button{
	font-weight: bold; 
	display: flex; 
	justify-content: center; 
	text-align: center; 
	padding: 10px 20px; 
	background-color: #e9ecef;
}

.accordion-item{
	border-bottom: 1px solid #ddd;
}

.accordion-body{
	padding: 15px; 
	background-color: #f8f9fa;
}