<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: header(title='SiwFood - Login')}">
    <!-- Includi Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="loginBody">
    <div class="login-container">
        <h2 class="mb-4 text-center">Login</h2>
        <form th:action="@{/login}" method="post">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
                <label for="username">Username</label>
                <div th:if="${loginError}" class="text-danger" th:text="${loginError['username']}"></div>
            </div>
            <div class="form-floating mb-3">
                <div class="input-group">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                    <button type="button" class="btn btn-outline-secondary" id="togglePassword">
                        <i class="bi bi-eye"></i>
                    </button>
                    <label for="password"></label>
                </div>
                <div th:if="${loginError}" class="text-danger" th:text="${loginError['password']}"></div>
            </div>
            <div th:if="${loginError?.general}" class="text-danger mb-3" th:text="${loginError['general']}"></div>
            <button type="submit" class="btn btn-primary btn-lg w-100">Login</button>
            <hr>
            <div class="text-center">
                <a href="/register" class="btn btn-primary btn-lg">Crea nuovo account</a>
            </div>
        </form>
    </div>

    <!-- Includi gli script di Bootstrap e jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <!-- Icone di Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">
    <script>
        document.getElementById('togglePassword').addEventListener('click', function () {
            var passwordField = document.getElementById('password');
            var passwordFieldType = passwordField.getAttribute('type');
            if (passwordFieldType === 'password') {
                passwordField.setAttribute('type', 'text');
                this.innerHTML = '<i class="bi bi-eye-slash"></i>';
            } else {
                passwordField.setAttribute('type', 'password');
                this.innerHTML = '<i class="bi bi-eye"></i>';
            }
        });
    </script>
</body>

</html>
