<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: header(title='SiwFood - Register')}">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
	<style>
		body {
			background-image: url('/images/sfondo.jpeg');
			background-size: cover;
			background-repeat: no-repeat;
			background-attachment: fixed;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100vh;
			margin: 0;
		}
	</style>
	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="form-container"
					style="padding: 1rem; background-color: rgba(255, 255, 255, 0.8); border-radius: 10px;">
					<form id="registrationForm" th:action="@{/register}" method="post" th:object="${credenziali}" enctype="multipart/form-data">
						<div class="row">
							<div class="col-md-6">
								<div th:if="${#fields.hasGlobalErrors()}">
									<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
								</div>
								<div class="form-floating mb-3">
									<input type="text" class="form-control" id="nome" name="nome" placeholder="Nome"
										required>
									<label for="nome">Nome</label>
									<div th:if="${utenteErrors?.fieldError('nome')}" class="text-danger"
										th:text="${utenteErrors.fieldError('nome').defaultMessage}"></div>
								</div>
								<div class="form-floating mb-3">
									<input type="text" class="form-control" id="cognome" name="cognome"
										placeholder="Cognome" required>
									<label for="cognome">Cognome</label>
									<div th:if="${utenteErrors?.fieldError('cognome')}" class="text-danger"
										th:text="${utenteErrors.fieldError('cognome').defaultMessage}"></div>
								</div>
								<div class="form-floating mb-3">
									<input type="date" class="form-control" id="dataDiNascita" name="dataDiNascita"
										placeholder="Data di Nascita" required>
									<label for="dataDiNascita">Data di Nascita</label>
									<div th:if="${utenteErrors?.fieldError('dataDiNascita')}" class="text-danger"
										th:text="${utenteErrors.fieldError('dataDiNascita').defaultMessage}"></div>
								</div>
								<div class="form-floating mb-3">
									<input type="text" class="form-control" id="username" name="username"
										placeholder="Username" required>
									<label for="username">Username</label>
									<div th:if="${credenzialiErrors?.fieldError('username')}" class="text-danger"
										th:text="${credenzialiErrors.fieldError('username').defaultMessage}"></div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-floating mb-3">
									<textarea class="form-control" id="descrizione" name="descrizione"
										placeholder="Descrizione del cuoco" style="height: 100px;" required></textarea>
									<label for="descrizione">Descrizione del cuoco</label>
									<div th:if="${utenteErrors?.fieldError('descrizione')}" class="text-danger"
										th:text="${utenteErrors.fieldError('descrizione').defaultMessage}"></div>
								</div>
								<div class="mb-4">
									<label for="fileImage" class="form-label">Carica un tua foto</label>
									<input type="file" class="form-control" id="fileImage" name="fileImage"
										accept="image/*">
								</div>
								<div class="form-floating mb-3">
									<div class="input-group">
										<input type="password" class="form-control" id="password" name="password"
											placeholder="Password" required>
										<button type="button" class="btn btn-outline-secondary" id="togglePassword">
											<i class="bi bi-eye"></i>
										</button>
										<label for="password"></label>
									</div>
									<div th:if="${credenzialiErrors?.fieldError('password')}" class="text-danger"
										th:text="${credenzialiErrors.fieldError('password').defaultMessage}"></div>
								</div>
								<div class="form-floating mb-3">
									<div class="input-group">
										<input type="password" class="form-control" id="confirmPassword"
											name="confirmPassword" placeholder="Conferma Password" required>
										<button type="button" class="btn btn-outline-secondary"
											id="toggleConfirmPassword">
											<i class="bi bi-eye"></i>
										</button>
										<label for="confirmPassword"></label>
									</div>
								</div>
								<div id="passwordError" class="text-danger mb-2" style="display: none;">Le password non
									corrispondono.</div>
							</div>
						</div>
						<button type="submit" class="btn btn-primary btn-lg w-100 mt-3">Registrati</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">
	<script>
		document.getElementById('togglePassword').addEventListener('click', function () {
			var passwordField = document.getElementById('password');
			var passwordFieldType = passwordField.getAttribute('type');
			if (passwordFieldType === 'password') {
				passwordField.setAttribute('type', 'text');
				this.innerHTML = '<i class="bi bi-eye-slash"></i>';
			} else {
				passwordField.setAttribute('type', 'password');
				this.innerHTML = '<i class="bi bi-eye"></i>';
			}
		});

		document.getElementById('toggleConfirmPassword').addEventListener('click', function () {
			var confirmPasswordField = document.getElementById('confirmPassword');
			var confirmPasswordFieldType = confirmPasswordField.getAttribute('type');
			if (confirmPasswordFieldType === 'password') {
				confirmPasswordField.setAttribute('type', 'text');
				this.innerHTML = '<i class="bi bi-eye-slash"></i>';
			} else {
				confirmPasswordField.setAttribute('type', 'password');
				this.innerHTML = '<i class="bi bi-eye"></i>';
			}
		});

		function validatePasswords() {
			var password = document.getElementById('password').value;
			var confirmPassword = document.getElementById('confirmPassword').value;
			if (password !== confirmPassword) {
				document.getElementById('passwordError').style.display = 'block';
				return false;
			}
			document.getElementById('passwordError').style.display = 'none';
			return true;
		}
	</script>
</body>

</html>