<!DOCTYPE html>
<html lang="it">

<head th:replace="~{fragments/header :: header(title='SiwFood - Le Mie Ricette')}"></head>

<body>
	<!-- Include la navbar -->
	<div th:replace="~{fragments/navbar :: navbar}"></div>

	<div class="container mt-5">
		<h1 class="mb-4">Le Mie Ricette:</h1>
		<div th:if="${cuocoCorrente.ricette==null || cuocoCorrente.ricette.isEmpty()}" class="alert alert-warning mb-5">
			Non ci sono ricette nel sistema
		</div>
		<div class="row">
			<div class="col-12" th:each="ricetta : ${cuocoCorrente.ricette}">
				<div class="card mb-4 mx-auto w-75">
					<div class="card-header">
						<h5 class="card-title mb-0" th:text="${ricetta.nome}">Lasagna</h5>
					</div>
					<div class="card-body p-0">
						<div class="row">
							<div class="col-md-3">
								<img th:src="${ricetta.urlsImages[0]}" class="ricettaImage img-fluid rounded" alt="Immagine Ricetta">
							</div>
							<div class="col-md-9">
								<div class="d-flex flex-column h-100 justify-content-center">
									<div class="d-flex justify-content-start mb-2">
										<a th:href="@{'/update/ricetta' + '/' + ${ricetta.id}}" class="btn btn-primary btn-sm me-2">Modifica</a>
										<form th:action="@{'/delete/ricetta/' + ${ricetta.id}}" method="post">
											<button type="submit" class="btn btn-danger btn-sm ms-2">Elimina</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Include il footer -->
	<div th:replace="~{fragments/footer :: footer}"></div>

</body>

</html>
